body{
font-family:Arial;
margin:0;
background:#f4f6f8;
}

.dark{background:#121212;color:white;}

nav{
background:#333;
padding:10px;
text-align:center;
}

nav a{
color:white;
margin:0 15px;
text-decoration:none;
}

nav a.active{border-bottom:2px solid yellow;}

.container{
width:70%;
margin:40px auto;
background:white;
padding:20px;
border-radius:10px;
}

.hidden{display:none;}

input{
padding:10px;
width:60%;
margin-bottom:10px;
}

button{
padding:10px 20px;
background:#007bff;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

#darkModeBtn{
position:fixed;
top:10px;
right:10px;
}

#timer{
text-align:center;
color:red;
font-size:20px;
}

.progress-container{
height:20px;
background:#ddd;
border-radius:10px;
}

#progress-bar{
height:100%;
width:0%;
background:green;
border-radius:10px;
}

.certificate{
display:none;
margin-top:20px;
padding:20px;
border:3px solid gold;
text-align:center;
background:#fffbe6;
}

/* ABOUT */
.about-section{
padding:60px;
background:linear-gradient(135deg,#6f7fdc,#7b5fc0);
}

.about-card,.skills-card,.interests-card{
background:white;
padding:25px;
border-radius:15px;
margin-bottom:20px;
}

.about-header{
display:flex;
align-items:center;
gap:10px;
}

.avatar{font-size:40px;}

.about-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:20px;
}

.skill-bar{
height:10px;
background:#ddd;
border-radius:10px;
margin-bottom:15px;
}

.skill-fill{
height:100%;
background:#4caf50;
border-radius:10px;
}
